<div class="container">
<h1>This will be a page for one user.</h1>

<h1><%= @user.first_name %></h1>

<% @user.reviews.each do |review| %>
	<img src="<%= review.dish_image %>" />
	<h3><%= review.restaurant_name %></h3>
	<p><%= review.dish_rating %></p>
	<p><%= review.dish_review %></p>
	<%= link_to "EDIT REVIEW", edit_review_path(review.id), :class => 'btn btn-primary' %>
	<%= button_to "DELETE REVIEW", review, :method => :delete, :class => 'btn btn-primary' %>
<% end %>
</div>