<!-- this could be a modal. -->
<div class="container">
	<h1>Welcome back!</h1>
	<div class="form">
		<%= form_for @user, url: "/sessions", method: "post" do |f| %>
			<div>
				<%= f.email_field :email, placeholder: "Email", class: "col-md-4 col-centered form-control" %>
			</div>
			<div>
				<%= f.password_field :password, placeholder: "Password", class: "col-md-4 col-centered form-control" %>
			</div>
			<%= f.submit "SIGN IN", :class => 'btn btn-primary body-btn' %>
		<% end %>

		<h4>OR</h4>

		<%= link_to "CREATE ACCOUNT", new_user_path, :class => 'btn btn-primary body-btn' %>
	</div>
</div>