<h1>This will be a page for one dish.</h1>

<%= link_to "Add Review", new_review_path %>
<h1><%= @dish.dish_name %></h1>

<% @dish.reviews.each do |review| %>
	<img src="<%= review.dish_image %>" />
	<h3><%= review.restaurant_name %></h3>
	<p><%= review.dish_rating %></p>
	<p><%= link_to review.dish_review, review_path(review) %></p>
<% end %>