<div class="container">
	<h1><%= @dish.dish_name %></h1>

	<%#= if logged in, user can add review -%>
	<% if current_user %>
		<%= link_to "WRITE A REVIEW", new_review_path, :class => 'btn btn-primary body-btn', :id => 'add-btn' %>
	<% else %>
		<%= link_to "SIGN IN TO POST", sign_in_path, :class => 'btn btn-primary body-btn' %>
	<% end %>

	<div class="row">
		<% @dish.reviews.each do |review| %>	
		<div class="col-sm-6 col-md-4">
			<a href="<%= review_path(review) %>">
			<div class="thumbnail">
				<img src="<%= review.dish_image %>" />
				<div class="caption">
					<h3><%= review.restaurant_name %></h3>	
					<!-- <p><%= review.dish_rating %></p> -->
					<div class="dish-icon rating"><%= render_noodles(review.dish_rating) %></div>
					<!-- <p><%= review.dish_review %></p> -->
				</div>
			</div>
			</a>
		</div>	
		<% end %>
	</div>
</div>
