<!DOCTYPE html>
<html>
<head>
	<title>NoodleLove</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<link href='https://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Josefin+Sans|Monoton' rel='stylesheet' type='text/css'>

	<script src="http://listjs.com/no-cdn/list.js"></script>
	<script src="http://listjs.com/no-cdn/list.fuzzysearch.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- <h1 class="navbar-brand"><%#= link_to "noodlelove", root_path, :id => "noodle-love" %></h1> -->
					<h1 class="navbar-brand hidden-xs"><%= link_to "noodle", root_path, :class => "noodle-love", :id => "noodle" %>
					<%= link_to "love", root_path, :class => "noodle-love", :id => "love" %></h1>
					<h1 class="navbar-brand visible-xs"><%= link_to "no", root_path, :class => "noodle-love", :id => "noodle" %>
					<%= link_to "lo", root_path, :class => "noodle-love", :id => "love" %></h1>
				</div>
				<div class="nav navbar-nav navbar-right collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<% if current_user %>
						<%#= show current user link to profile %>
						<%= link_to "#{current_user.first_name.upcase}", user_path(current_user), :class => 'btn btn-primary nav-btn' %>
						<!-- <h2 class="nav-btn">|</h2> -->
						<%= link_to "SIGN OUT", sign_out_path, method: :delete, :class => 'btn btn-primary nav-btn' %>
					<% else %>
						<%= link_to "SIGN IN", sign_in_path, :class => 'btn btn-primary nav-btn' %>
						<!-- <h2 class="nav-btn">|</h2> -->
						<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target=".sign-in">SIGN IN</button> -->
						<%= link_to "CREATE ACCOUNT", new_user_path, :class => 'btn btn-primary nav-btn' %>
					<% end %>
				</div>
			</div>
		</nav>
	</header>

<!-- <div class="modal fade sign-in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<h1>This page is for signing in.</h1>
				<%# if notice %>
					<p class="alert alert_danger">Login Failed</p>
				<%# end %>

				<%#= form_for User.new, url: "/sessions", method: "post" do |f| %>
					<div>
						<%#= f.email_field :email, placeholder: "Email" %>
					</div>
					<div>
						<%#= f.password_field :password, placeholder: "Password" %>
					</div>
					<%#= f.submit "SIGN IN" %>
				<%# end %>

				<h3>OR</h3>

				<%#= link_to "CREATE ACCOUNT", new_user_path, :class => 'btn btn-primary' %>
		</div>
	</div>
</div> -->
	<article class="container">
		<%= yield %>
	</article>
	
	<%#= console %>

</body>
</html>