<!DOCTYPE html>
<html>
<head>
  <title>NoodleLoveApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1><%= link_to "NOODLE LOVE", root_path, :class => 'btn btn-primary' %></h1>
	<div>
		<% if current_user %>
			<%#= show current user link to profile %>
			<%#= link_to "User", user_path, :class => 'btn btn-primary' %>
			<%= link_to "SIGN OUT", sign_out_path, method: :delete, :class => 'btn btn-primary' %>
		<% else %>
			<%= link_to "SIGN IN", sign_in_path, :class => 'btn btn-primary' %>
			<%= link_to "CREATE ACCOUNT", new_user_path, :class => 'btn btn-primary' %>
		<% end %>
	</div>

	<%= yield %>
<%#= console %>
</body>
</html>