<div class="container">
	<h1>Edit your review of <%= @dish.dish_name %> at <%= @review.restaurant_name %></h1>
	<%= form_for @review do |f| %>
		<div>
			<label class="review">Rating:</label>
				<div class="dish-icon rating">
					<%= f.radio_button :dish_rating, 1 %>
				</div>
					<%= label_tag(:dish_rating, "Worst") %>
				<div class="dish-icon rating">
					<%= f.radio_button :dish_rating, 2 %>
				</div>
					<%= label_tag(:dish_rating, "2") %>
				<div class="dish-icon rating">
					<%= f.radio_button :dish_rating, 3 %>
				</div>
					<%= label_tag(:dish_rating, "3") %>
				<div class="dish-icon rating">
					<%= f.radio_button :dish_rating, 4 %>
				</div>
					<%= label_tag(:dish_rating, "4") %>
				<div class="dish-icon rating">
					<%= f.radio_button :dish_rating, 5 %>
				</div>
					<%= label_tag(:dish_rating, "Best") %>
		</div>
		<div>
			<%= f.text_area :dish_review, placeholder: "Dish Review", class: "col-md-4 col-centered form-control" %>
		</div>
		<div>
			<%= f.url_field :dish_image, placeholder: "Dish Image URL", class: "col-md-4 col-centered form-control" %>
			<%#= f.input :dish_image, label: "JPG file:", input_html: {accept: ('application/jpg')} -%>
			<input type="hidden" role="uploadcare-uploader" data-crop="disabled" data-preview-step="true" data-images-only="true" name="reviews[dish_image]" class="btn btn-primary body-btn" />
		</div>
		<%= f.submit "UPDATE REVIEW", :class => 'btn btn-primary body-btn' %>
	<% end %>
</div>