<div class="container">
	<h1><%= @dish.dish_name %> at <%= @review.restaurant_name %></h1>
	<div class="review-show">
		<label class="rating">Rating:</label>
		<div class="dish-icon rating"><%= render_noodles(@review.dish_rating) %></div>
	</div>
	
	<img class="review-show" src="<%= @review.dish_image %>" />
	<!-- <p><%= @review.dish_rating %></p> -->
	<div class="review-show">
		<label class="review">Review:</label><br>
		<p class="col-md-6 col-centered review-text"><%= @review.dish_review %></p>
	</div>

	<div><%= link_to "BACK TO DISH", dish_path(@dish), :class => 'btn btn-primary body-btn' %></div>

	<%#= if logged in user is the author of a review, show edit or delete button -%>
	<% if current_user && current_user.id == @review.user_id %>
		<%= link_to "EDIT REVIEW", edit_review_path(@review), :class => 'btn btn-primary body-btn' %>
		<%= button_to "DELETE REVIEW", @review, :method => :delete, :class => 'btn btn-primary body-btn' %>
	<% end %>
</div>